*
{
    transition: ease-in-out .15s;
}

.heroes
{
    list-style-type: none;
    padding:  0;
    width: 15em;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1em;
    border-radius: 5px;
    li
    {
        transition-duration: 0.1s;
        transition-property: transform;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        background: #EEE;
        margin: .5em;
        border-radius: 5px;
        
        &:hover
        {
            color: #607D8B;
            background-color: #DDD;
            transform: scale(1.05);
        }

        &:active
        {
            transform: scale(0.92);
            .delete-btn
            {
                    transform: scale(calc(1/0.92));
            }
        }
        &.selected
        {
            background-color: #AFD8DC;
            color: white;
        }

        .delete-btn
        {
            background-color: gray !important;
            color:white;
            border:none;

            &:hover
            {
               background-color: red !important; 
            }
        }
    }

    .badge
    {
        display: inline-flex;
        font-size: small;
        padding: .6em;
        color: white;
        background-color: #607D8B;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }

    .text
    {
        position: relative;
        top: -3px;
    }
}